/Makefile
/autom4te.cache/
/config.h
/Makefile
/config.log
/config.status
/gllib/.deps/
/gllib/Makefile
/gllib/alloca.h
/gllib/inttypes.h
/gllib/limits.h
/gllib/stdckdint.h
/gllib/stdlib.h
/gllib/sys/time.h
/gllib/sys/types.h
/gllib/time.h
/gllib/unistd.h
/gllib/*.o
/gllib/libgnu.a
/glm4/Makefile
/stamp-h1
